/********** Start Base Styles (Generic) **********/

/* CSS variables */
:root {
  --white: #fff;
  --black: #000;
  --Gray8: #141414;
  --Nero: rgb(20, 20, 20, 0.3); /* Header background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: var(--Gray8);
}

h2 {
  font-size: 1.4vw;
  color: var(--white);
  margin-bottom: 1.1rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/********** End Generic Styles **********/

/********** Start Header Section **********/

.logo {
  width: 100px;
}

header {
  display: flex;
  align-items: center;
  background: var(--Nero);
  height: 68px; /* review */
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin-right: 1rem;
}

.main-menu {
  margin-left: 2rem;
}

.main-menu a {
  color: #e5e5e5;
  transition: color 0.4s;
}

.main-menu a:hover {
  color: #b3b3b3;
}

.main-menu .main-menu__item .active {
  color: var(--white);
  cursor: default;
}

.secondary-menu {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2.75vw;
  color: var(--white);
}

.secondary-menu__item {
  margin-left: 1.15rem;
}

.secondary-menu button {
  font-size: 1.2rem;
  background: transparent;
  color: inherit;
}

.secondary-menu a {
  color: inherit;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/********** End Header Section **********/

/********** Start Featured Section **********/

.featured {
  display: flex;
  flex-direction: column;
  background: var(--black)
    url("https://occ-0-3633-2706.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZeP9pSR2QoF8yCWWsV6i9IPx7lGzd1UHYpQADXbzclMMm8u4OtcTTfd-JGrDtPJ6scyuOin30EgS1P0EqBbQ3GGGssE.jpg?r=19b")
    no-repeat center center/cover;
  height: 50vw;
  justify-content: center;
  color: var(--white);
}

.featured__title {
  font-size: 5vw;
  text-transform: uppercase;
  text-align: center;
  width: min-content;
  letter-spacing: 12px;
  line-height: 0.9;
}

.featured__description {
  width: 41%;
  font-size: 1.5vw;
  margin: 1.1rem 0;
  line-height: 1.35;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.featured-bottoms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-btns button {
  padding: 0.5vw 1.2vw;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1vw;
}

.play {
  background: var(--white);
  color: var(--black);
  margin-right: 10px;
}

.play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.more-info {
  background-color: rgba(109, 109, 110, 0.7);
  color: var(--white);
}

.more-info:hover {
  background-color: rgba(109, 109, 110, 0.5);
}

.left-btns button i {
  margin-right: 8px;
}

.age {
  background-color: rgba(51, 51, 51, 0.6);
  padding: 0.5vw 3.5vw 0.5vw 0.8vw;
  font-size: 1.1vw;
  height: 2.4vw;
  border-left: 3px solid #dcdcdc;
  margin-left: 10px;
}

.repeat {
  border: none;
  outline: none;
  padding: 0.8rem;
  color: #dcdcdc;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  font-size: 1vw;
}

.repeat:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/********** End Featured Section **********/
